services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: drivenow-api
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=sqlite:///./vehicles.db
